::-webkit-scrollbar {
    width: 0;
    height: 0;
}
/* allpage */
body {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Tahoma, sans-serif;
    list-style: none;
    color: white;
    overflow-x: hidden;
}

.nav{
    display: flex;
    height: 75px;
    background-color: black;
    justify-content: space-between;
    
}

.main {
    display: flex;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin: 0px 50px;
    font-weight: bold;
}

.nav-logo > p > a {
    text-decoration: none;
    color: white;
}

.nav-li {
    display: flex ;
    gap: 40px;
    margin: 10px 50px;
    align-items: center;
}

.nav-li > li > a {
    text-decoration: none;
    color: white;
}

/* Homepage */
#sec-home-1 {
    width: 50%;
    display: flex;
}

#sec-home-1 > img {
    max-width: 90%;
    margin: auto;
}

#sec-home-2 {
    display: flex;
    width: 50%;
    color: black;
}

#sec-home-2 > div {
    width: 100%;
    margin: auto;
    color: black;
}

div > button {
    display: flex;
}

button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    font-weight: bolder;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.material-symbols-outlined {
    margin-left: 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Aboutpage */
#sec-about{
    color: black;
    text-align: center;
    margin: 5px 200px;
}

#sec-about-1 {
    color: black;
}

#arc-about-2, #arc-about-3{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.boldd {
    font-weight: bolder;
}

/* Skillspage */
#sec-skills-1, #sec-skills-2 {
    text-align: center;
    margin: 95px auto;
    justify-content: center;
    background-color: black;
    height: 500px;
    width: 500px;
    border-radius: 10% ;
}

.logo-skills {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

li > img {
    width: 100px;
    margin: 10px;
}

.logo-skills > li {
    flex: 1;
}

/* Blogpage */
#sec-blog-1 {
    color: black;
    text-align: center;
    margin: 30px 50px;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
}

#sec-blog-1 > h3 {
    margin: 30px 100px ;
}

.konten-blog > img {
    height: 300px;
}

.konten-blog {
    display: flex;
    gap: 20px;
}

.konten-blog > p {
    margin-top: 0;
    text-align: justify;
}

#klikLanjut {
    color: blue;
    cursor: pointer;
}

#klikKembali {
    color: blue;
    cursor: pointer;
}

.hidden {
    display: none;
}

#judul-blog-1 {
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
}